* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.home{
    background-image: url(back1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y: -170px;

}
a {
    text-decoration: none;
    color: black;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 60px 20px 60px;
    background-color: #3D8361;
}

.logo a{
    color: rgba(255, 255, 255, 0.77);
    font-size: 2.3em;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;

}

.logo a:hover{
    color: white;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 45%;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.77);
    font-size: 1.1em;
    letter-spacing: 0.1em;
    font-weight: 500;
    padding: 10px;

}

nav ul li a:hover {
    color: white;
    text-decoration: underline;

}


nav ul li {
    list-style: none;
}

nav ul li ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 30px;
    width: 140px;
    background-color: #3D8361;
    display: none;
}

.cat-items li {
    height: 50px;
    font-size: 0.8em;
    padding-left: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

nav ul li:hover > ul {
    display: initial;
}

/* Contact */


.contact, .about{
    background-image: url(contact.jpg);
    background-size:cover;
    background-repeat: no-repeat;

}

.contact-designer {
    width: 40%;
    height: 40%;
    margin: 5em;
}

.contact-designer h3 {
    font-size: 2em;
    color: #2d6a4cd8;
    font-weight: bold;
}

.contact-designer form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    margin-top: 20px;
    padding: 10px 5px;
}

input[type=text]:focus {
    background-color: rgba(247, 247, 247, 0.83);
}

input[type=text] {
    border-radius: 5px;
    border-color: 0.8px solid black;
}

form .submit {
    border-radius: 5px;
    padding: 15px;
}

form .submit:hover {
    background-color: #65af8b;
}

.invalid-error {
    font-size: 0.8em;
    color: rgb(250, 21, 21);
    display: none;
    margin-left: 1px;
    margin-top: 2px;
}

footer {
    width: 40%;
    margin: 7em 5em;
}

footer h4 {
    color:#3D8361;
    font-size: 1.3em;
    margin-bottom: 1em;
    text-decoration: underline;
}
.submitted {
    display: none;
    color: #65af8b;
}

.submitted p {
    color: black;
}


/* About ---------------*/

.about p {
    width: 40%;
    margin: 10%;

}

.about p a {
    color: #1f593d;
    font-weight: bold;

}


/* Categories ------------------- */

.card-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5%;
    gap: 4.3%;
    
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: #d5ece1;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
    margin-top: 7%;
    

}

.card:hover{
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.3);
    transform: translateY(-0.8%);
    background-color: #56ce94;

}

.card-img {
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 300px 300px;
}

#dracaena {
    background-image: url(images/dracaena.jpg);
}

#monstera {
    background-image: url(images/Monstera.jpg);
}

#calathea {
    background-image: url(images/Calathea.jpg);
}

#zami {
    background-image: url(images/Zamio.jpg);
}

#marble {
    background-image: url(images/Marble.jpg);
}

#sanse {
    background-image: url(images/Sanseviera.jpg);
}

#olive {
    background-image: url(images/Olive.PNG);
}

#palm {
    background-image: url(images/European\ Palm.PNG);
}

#pheobe {
    background-image: url(images/Outdoor1.PNG);
}

.card-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-content p {
    margin-left:  auto;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 1.1em;
}

.card-content h2 {
    padding-left: 20px;
}


/* CARD-PAGE ----- */

.main-description{
    width: 100%;
    display: flex;
    overflow: hidden;
    border: 1px solid black;
    
}

.main-description h1 {
    padding: 10px;
    background-color: #369b6b;
    width: fit-content;
    margin-bottom: 15px;
    color: rgb(240, 240, 240);
    font-weight: bold;
}

.img-section img {
    width: 500px;
    height: 700px;
    object-fit: cover;
    margin: 10rem;
}

.info-section {
    margin-top: 30rem;
    width: 500px;
}